<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.url == "/" %}{{ site.data.general_settings.title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.general_settings.description }}{% endif %}'>

  <link rel="canonical" href="https://miagika.ru">

  <!-- Twitter Card -->
  <!-- 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.data.general_settings.title }}{% else %}{{ page.title }} – {{ site.data.general_settings.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.url == "/" %}{{ site.data.general_settings.description | strip_html | xml_escape }}{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta name="twitter:image:src" content="{% if page.url == "/" %}{{ site.data.general_settings.social_media_share_image | absolute_url }}{% else %}{{ page.image | absolute_url }}{% endif %}">
-->
  <!-- Facebook OpenGraph -->
  <!-- 
  <meta property="og:title" content="{% if page.url == "/" %}{{ site.data.general_settings.title }}{% else %}{{ page.title }} – {{ site.data.general_settings.title }}{% endif %}">
  <meta property="og:description" content="{% if page.url == "/" %}{{ site.data.general_settings.description | strip_html | xml_escape }}{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta property="og:image" content="{% if page.url == "/" %}{{ site.data.general_settings.social_media_share_image | absolute_url }}{% else %}{{ page.image | absolute_url }}{% endif %}">
 -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>

  

<!-- begin header -->
<header class="c-header">
  <div class="container">
    <div class="row">
      <div class="c-header__inner">

        <div class="logo">
          <a class="logo__link" href="/">
            <img class="logo__image" src="/uploads/logo.png" alt="miagika">

          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">

            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>

            <div class="nav__title">МЕНЮ</div>

              <ul class="nav__list list-reset">

                <!-- <li class="nav__item dropdown">
                  <span class="nav__link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                  <div class="dropdown-menu">
                    {% for submenu-item in item.submenu %}
                      <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                    {% endfor %}
                  </div>
                </li>

                {% else %} -->

                <li class="nav__item">
                  <a href="/" class="nav__link active-link">Главная</a>
                </li>
                <li class="nav__item">
                  <a href="/contacts/" class="nav__link">Контакты</a>
                </li>

            </ul>
          </div>

          <div class="social">
            <ul class="social__list list-reset">
                           
              <li class="social__item">
                <a class="social__link" href="https://t.me/miagika" target="_blank" rel="noopener" aria-label="telegram icon"><i><img src="/uploads/icon/icon-telegram.png"></i></a>
              </li>
          
              <li class="social__item">
                <a class="social__link" href="https://wa.me/79679200743" target="_blank" rel="noopener" aria-label="whatsapp icon"><i><img src="/uploads/icon/icon-whatsapp.png"></i></a>
              </li>
              
              
            </ul>
          </div>

        </nav>

        <div class="nav-button">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->

    {{ content }}

    <!-- 
        Bookshop components are accessed using the bookshop tag, 
        using the same syntax as the standard Jekyll include tag.
    -->
    {% bookshop_include page content_blocks=page.content_blocks page_theme=page.page_theme %}

    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        {% bookshop_include social-link %}
<!--         social:
  - icon: VK
    link: https://vk.com/miagika
  - icon: Telegram
    link: https://t.me/miagika
  - icon: WhatsApp
    link: https://wa.me/79679200743
  - icon: Viber
    link: viber://add?number=79679200743
-->

        <ul class="footer_nav list-reset">
          {% for item in site.data.footer.footer_menu__settings.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright">{{ site.data.footer.copyright_text_html }}</div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

    <!--
        load the live component for CloudCannon live previews.
    -->
  
<script>
(function(){
  const bookshopLiveSetup = (CloudCannon) => {
    CloudCannon.enableEvents();

    const head = document.querySelector('head');
    const script = document.createElement('script');
    script.src = `/_cloudcannon/bookshop-live.js`;
    script.onload = function() {
      window.bookshopLive = new window.BookshopLive({
        remoteGlobals: ['/_cloudcannon/initial-site-settings.json']
      });
      const updateBookshopLive = async () => {
        const frontMatter = await CloudCannon.value();
        const options = window.bookshopLiveOptions || {};
        await window.bookshopLive.update({page: frontMatter}, options);
        CloudCannon?.refreshInterface?.();
      }
      document.addEventListener('cloudcannon:update', updateBookshopLive);
      updateBookshopLive();
    }
    head.appendChild(script);
  }

  document.addEventListener('cloudcannon:load', function (e) {
    bookshopLiveSetup(e.detail.CloudCannon);
  });
})();
</script>

    <script src="/js/scripts.js"></script>
    <script src="/js/common.js"></script>
</body>
</html>
